.form-box {
    margin-bottom: 2rem;
}

.form-box .body select {
    margin-left: 12rem;
    margin-top: 2rem;
}

.form-box .body textarea {
    margin-left: 1rem;
    margin-top: 1rem;
}

